header {
  display: flex;
  justify-content: space-between;
  margin-inline: 160px;
  padding-block: 65px;

  img {
    background-size: cover;
    width: 230px;
    height: 58px;
  }
  button {
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    width: 89px;
    height: 40px;
    background-color: #7d298a;
  }
}
section {
  margin-top: 50px;
  text-align: center;
}

.container_segundario {
  margin-top: 30%;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 120px ;
  img:nth-child(1) {
    width: 88px;
    margin-bottom: 10px;
  }

}

.container_kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    img {
      width: 32px;
    }
  }
}
